/* Freesentation - SemiBold */
@font-face {
  font-family: "FreesentationSemiBold";
  src: url("./fonts/Freesentation-6SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Paperlogy - Bold */
@font-face {
  font-family: "PaperlogyBold";
  src: url("./fonts/Paperlogy-7Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* RIDIBatang */
@font-face {
  font-family: "RIDIBatang";
  src: url("./fonts/RIDIBatang.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-hidden {
  @apply scrollbar-hide; /* Tailwind CSS에서 스크롤바 숨기기 */
}
/* Global font 설정 */
body {
  font-family: "RIDIBatang", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
